.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    grid-auto-rows: auto;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.icon {
    height: 15rem;
    width: 15rem;
  }

.portfolio__item h3 {
    margin: 1.5rem 0 0.5rem;
    text-align: center;
}

/* Buttons */
.portfolio__item-cta {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .portfolio__item {
        margin: 0 auto;
        width: 90%;
        
    }
}
