.about__container {
    display: grid;
}

.about__me {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 65%;
    gap: 10%;
    padding: 5rem;
    place-items: center;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
}

.about__me-text {
    width: 100%;
    height: 100%;
}

.about__cards {
    margin: auto;
    display: grid;
    width: 60%;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary-accent);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 3rem;
    color: var(--color-light);    
}


/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .about__me {
        width: 100%;
        margin: 0.5rem auto 0.5rem;
	grid-template-columns: 1fr;
	padding: 2rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
	gap: 1rem;
    }

    .about__me-image {
    	display: none;
    }

   .about__me-text {
	margin: auto;
   	width: 100%;
    	height: 100%;
   }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}
			
