.about__container {
    display: grid;
}

.about__text {
    display: grid;
}

.about__description {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 20rem 4rem;
}

.about__stat {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40fr 60fr;
    grid-auto-rows: auto;
    margin: 2rem 1rem 1.5rem;
}

.about__stat-info {
    text-align: left;
}

.about__stat-type {
    display: flex;
    grid-template-columns: 10fr 50fr;
    align-items: center;
    justify-content: center;
}

.about__stat-icon {
    color: var(--color-primary-accent);
    font-size: 1.5rem;
}

.about__content {
    display: grid;
}

.about__content h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__card-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 2rem 0 1.5rem;
}

.about__card-right {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 65%;
    gap: 10%;
    padding: 1rem;
    text-align: left;
    align-items: center;
}

.about__card-left {
    width: 100%;
    display: grid;
    grid-template-columns: 65% 25%;
    gap: 10%;
    padding: 1rem;
    text-align: right;
    align-items: center;
}

.about__card {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animation */

.about__details {
    display: flex;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg-variant);
    border-radius: 0.5rem;
}

.about__icon-set {
    color: var(--color-primary-accent);
    font-size: 6rem;
    margin: 2rem;
}


/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__description {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 2rem 5rem 4rem;
    }

    .about__content {
        width: 100%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }
    
    .about__description {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 2rem 2rem 4rem;
    }

    .about__card-row {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 0rem 0 0rem;
    }

    .about__content {
        text-align: center;
    }

    .about__card-right {
        width: 100%;
        display: flex;
        gap: 5%;
        padding: 0.5rem;
        text-align: left;
        align-items: center;
    }
    
    .about__card-left {
        width: 100%;
        display: grid;
        gap: 5%;
        padding: 0rem;
        text-align: right;
        align-items: center;
    }

    .about__icon-set {
        color: var(--color-primary-accent);
        font-size: 4rem;
        margin: 0.5rem;
    }
}

